#this view intends to show the notes that each kid have

<p>
  <strong>Type:</strong>
  <%= @note.category %>
</p>

<p>
  <strong>Desciption:</strong>
  <%= @note.desciption %>
</p>

<p>
  <strong>Status:</strong>
  <%= @note.status %>
</p>

<p>
  <strong>Student:</strong>
  <%= @note.student_id %>
</p>